html {
    height: 100%;
    }

body {
    height: 100%; 
    font-family: sans-serif;
    font-size: 62.5%
    min-height: 100%;
    background-color: #ecdab6;
    
    background-image: -moz-repeating-linear-gradient(45deg, transparent 5px, 
    rgba(172, 72, 75, 0.5) 5px, rgba(172, 72, 75, 0.5) 11px,
    rgba(236, 218, 182, 0) 12px, rgba(236, 218, 182, 0) 57px,
    rgba(54, 50, 51, 0.5) 58px, rgba(54, 50, 51, 0.5) 70px,
    rgba(255, 255, 255, 0.5) 71px, rgba(255, 255, 255, 0.5) 83px,
    rgba(54, 50, 51, 0.5) 84px, rgba(54, 50, 51, 0.5) 96px,
    rgba(255, 255, 255, 0.5) 97px, rgba(255, 255, 255, 0.5) 109px,
    rgba(54, 50, 51, 0.5) 110px, rgba(54, 50, 51, 0.5) 122px,
    rgba(236, 218, 182, 0) 123px, rgba(236, 218, 182, 0) 166px),
    -moz-repeating-linear-gradient(135deg, transparent 5px, 
    rgba(172, 72, 75, 0.5) 5px, rgba(172, 72, 75, 0.5) 11px,
    rgba(236, 218, 182, 0) 12px, rgba(236, 218, 182, 0) 57px,
    rgba(54, 50, 51, 0.5) 58px, rgba(54, 50, 51, 0.5) 70px,
    rgba(255, 255, 255, 0.5) 71px, rgba(255, 255, 255, 0.5) 83px,
    rgba(54, 50, 51, 0.5) 84px, rgba(54, 50, 51, 0.5) 96px,
    rgba(255, 255, 255, 0.5) 97px, rgba(255, 255, 255, 0.5) 109px,
    rgba(54, 50, 51, 0.5) 110px, rgba(54, 50, 51, 0.5) 122px,
    rgba(236, 218, 182, 0) 123px, rgba(236, 218, 182, 0) 166px);
    
    background-image: -webkit-repeating-linear-gradient(45deg, transparent 5px, 
    rgba(172, 72, 75, 0.5) 5px, rgba(172, 72, 75, 0.5) 11px,
    rgba(236, 218, 182, 0) 12px, rgba(236, 218, 182, 0) 57px,
    rgba(54, 50, 51, 0.5) 58px, rgba(54, 50, 51, 0.5) 70px,
    rgba(255, 255, 255, 0.5) 71px, rgba(255, 255, 255, 0.5) 83px,
    rgba(54, 50, 51, 0.5) 84px, rgba(54, 50, 51, 0.5) 96px,
    rgba(255, 255, 255, 0.5) 97px, rgba(255, 255, 255, 0.5) 109px,
    rgba(54, 50, 51, 0.5) 110px, rgba(54, 50, 51, 0.5) 122px,
    rgba(236, 218, 182, 0) 123px, rgba(236, 218, 182, 0) 166px),
    -webkit-repeating-linear-gradient(135deg, transparent 5px, 
    rgba(172, 72, 75, 0.5) 5px, rgba(172, 72, 75, 0.5) 11px,
    rgba(236, 218, 182, 0) 12px, rgba(236, 218, 182, 0) 57px,
    rgba(54, 50, 51, 0.5) 58px, rgba(54, 50, 51, 0.5) 70px,
    rgba(255, 255, 255, 0.5) 71px, rgba(255, 255, 255, 0.5) 83px,
    rgba(54, 50, 51, 0.5) 84px, rgba(54, 50, 51, 0.5) 96px,
    rgba(255, 255, 255, 0.5) 97px, rgba(255, 255, 255, 0.5) 109px,
    rgba(54, 50, 51, 0.5) 110px, rgba(54, 50, 51, 0.5) 122px,
    rgba(236, 218, 182, 0) 123px, rgba(236, 218, 182, 0) 166px);
    
    background-image: repeating-linear-gradient(45deg, transparent 5px, 
    rgba(172, 72, 75, 0.5) 5px, rgba(172, 72, 75, 0.5) 11px,
    rgba(236, 218, 182, 0) 12px, rgba(236, 218, 182, 0) 57px,
    rgba(54, 50, 51, 0.5) 58px, rgba(54, 50, 51, 0.5) 70px,
    rgba(255, 255, 255, 0.5) 71px, rgba(255, 255, 255, 0.5) 83px,
    rgba(54, 50, 51, 0.5) 84px, rgba(54, 50, 51, 0.5) 96px,
    rgba(255, 255, 255, 0.5) 97px, rgba(255, 255, 255, 0.5) 109px,
    rgba(54, 50, 51, 0.5) 110px, rgba(54, 50, 51, 0.5) 122px,
    rgba(236, 218, 182, 0) 123px, rgba(236, 218, 182, 0) 166px),
    repeating-linear-gradient(135deg, transparent 5px, 
    rgba(172, 72, 75, 0.5) 5px, rgba(172, 72, 75, 0.5) 11px,
    rgba(236, 218, 182, 0) 12px, rgba(236, 218, 182, 0) 57px,
    rgba(54, 50, 51, 0.5) 58px, rgba(54, 50, 51, 0.5) 70px,
    rgba(255, 255, 255, 0.5) 71px, rgba(255, 255, 255, 0.5) 83px,
    rgba(54, 50, 51, 0.5) 84px, rgba(54, 50, 51, 0.5) 96px,
    rgba(255, 255, 255, 0.5) 97px, rgba(255, 255, 255, 0.5) 109px,
    rgba(54, 50, 51, 0.5) 110px, rgba(54, 50, 51, 0.5) 122px,
    rgba(236, 218, 182, 0) 123px, rgba(236, 218, 182, 0) 166px);
}
article {
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 1em;
    width: 40em;
}
h1 {
    font-family: Copperplate, serif;
    font-size: 2em;
}
p {
     margin: 1em 0;   
}